@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body {
  margin: 0px !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.nav-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  width: 30%;
}

.main-section {
  display: flex;
  border-left: 1px solid rgb(241, 241, 241);
  flex-direction: column;
  width: 70%;
  /* padding: 20px; */
}
.home {
  display: flex;
  justify-content: center;
  margin-left: 80px;
  margin-bottom: 45px;
  margin-right: 15px;
}
.home-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20px;
  font-size: large;
  font-weight: bold;
}
.logo-style {
  display: flex;
}
.card-head-container {
  display: flex;
  /* justify-content: ; */
}
.user-name {
  display: flex;
  align-items: center;
  padding-right: 3px;
}
.user-name-handle {
  display: flex;
  align-items: center;
  padding-right: 3px;
  cursor: pointer;
}
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-right: 7px; */
  padding-left: 177px;
  position: fixed;
}
.twit-logo {
  margin-bottom: 20px;
}
.App-link {
  color: #61dafb;
}
.tweet-button {
  background-color: rgb(29, 161, 242);
  font-weight: 700;
}
.tweet-text {
  font-weight: 700;
  font-size: medium;
}

.sticky-home {
  position: fixed;
  z-index: 100;
  width: 31.2%;
  align-items: center;
  display: flex;
  height: 53px;
  padding-left: 5px;
  font-weight: bold;
  font-size: larger;
}
.tweet-container {
  border-right: 1px solid rgb(241, 241, 241);
  width: 46%;
}
.tweet-card {
  display: flex;
  width: 100%;
  /* margin-bottom: 10px; */
}
.card-foot {
  display: flex;
}

.tweets-list {
  margin-top: 12%;
  margin-bottom: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.tweet-text-wrap {
  display: flex;
}
.tweet-actions-container {
  display: flex;
  justify-content: space-around;
}
.tweet-actions {
  display: flex;
}
.MuiCardHeader-avatar {
  flex: 0 0 auto;
  margin-right: 0px !important;
}
.love:hover {
  fill: red !important;
}

.comment:hover {
  fill: red !important;
}
.retweet:hover {
  fill: red !important;
}

.upload:hover {
  fill: red !important;
}
